<?xml version='1.0'?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/cql http://www.springframework.org/schema/data/cassandra/spring-cql-1.0.xsd
    http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	
	<context:component-scan base-package="com.yxtar.server.cassandra.dao"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.cassandra.dao.impl"></context:component-scan>
 	<context:component-scan base-package="com.yxtar.server.cassandra.dao.respository"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.dao"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.dao.impl"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.service"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.service.impl"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.servlet"></context:component-scan>
	<context:component-scan base-package="com.yxtar.server.action"></context:component-scan>
	<context:property-placeholder location="classpath:cassandra.properties" />
	<!-- <bean id="hostStateListener" class="org.springframework.cassandra.test.integration.config.xml.TestHostStateListener" 
		/> <bean id="latencyTracker" class="org.springframework.cassandra.test.integration.config.xml.TestLatencyTracker" 
		/> -->
	<!-- 权限 策略 -->
	<bean id="authProvider" class="com.datastax.driver.auth.DseAuthProvider" />
	<!-- 负载均衡 策略 -->
	<bean id="loadBalancingPolicy"
		class="com.datastax.driver.core.policies.DCAwareRoundRobinPolicy">
		<constructor-arg name="localDc" value="${lb.policy.dcAware.localDc}" />
		<constructor-arg name="usedHostsPerRemoteDc"
			value="${lb.policy.dcAware.remoteHosts}" />
	</bean>

	<!-- -->
	<bean id="reconnectionPolicy"
		class="com.datastax.driver.core.policies.ConstantReconnectionPolicy">
		<constructor-arg name="constantDelayMs"
			value="${cluster.reconnection.delayMillis}" />
	</bean>

	<!-- -->
	<bean id="retryPolicy"
		class="com.datastax.driver.core.policies.DowngradingConsistencyRetryPolicy" />

	<!-- orm -->
	<cassandra:mapping entity-base-packages="com.yxtar.server.dto.cassandra"></cassandra:mapping>
	<!-- 类型转换 -->
	<cassandra:converter />

	<!-- -->
	<cassandra:cluster contact-points="${cluster.contactPoints}"
		port="${cluster.port}" compression="${cluster.compression}"
		auth-info-provider-ref="authProvider" username="${auth.username}"
		password="${auth.password}" metrics-enabled="${cluster.metricsEnabled}"
		jmx-reporting-enabled="${cluster.jmxReportingEnabled}"
		reconnection-policy-ref="reconnectionPolicy" retry-policy-ref="retryPolicy"
		load-balancing-policy-ref="loadBalancingPolicy">
		<cassandra:local-pooling-options
			min-simultaneous-requests="${local.min.requests}"
			max-simultaneous-requests="${local.max.requests}" core-connections="${local.core.connections}"
			max-connections="${local.max.connections}" />
		<cassandra:remote-pooling-options
			min-simultaneous-requests="${remote.min.requests}"
			max-simultaneous-requests="${remote.max.requests}" core-connections="${remote.core.connections}"
			max-connections="${remote.max.connections}" />
		<cassandra:socket-options
			connect-timeout-millis="${socket.connectTimeoutMillis}" keep-alive="${socket.keepAlive}"
			read-timeout-millis="${socket.readTimeoutMillis}" reuse-address="${socket.reuseAddress}"
			so-linger="${socket.soLinger}" tcp-no-delay="${socket.tcpNoDelay}"
			receive-buffer-size="${socket.receiveBufferSize}" send-buffer-size="${socket.sendBufferSize}" />
		<cassandra:keyspace name="${keyspace.name}" action="${keyspace.action}" />

		<!-- 定义其他的scheam -->
		<!-- <cassandra:keyspace name="wufeng" action="ALTER" /> -->
<!-- 		<cassandra:keyspace name="Foo123" action="${keyspace.action}"
			durable-writes="true">
			<cassandra:replication class="NETWORK_TOPOLOGY_STRATEGY">
				<cassandra:data-center replication-factor="${dc1.rf}"
					name="${dc1.name}" />
				<cassandra:data-center replication-factor="${dc1.rf}"
					name="${dc2.name}" />
			</cassandra:replication>
		</cassandra:keyspace> -->
	</cassandra:cluster>

	<!-- 当前使用scheam -->
	<!-- <cassandra:session keyspace-name="${keyspace.name}" /> -->
<cassandra:session id="cassandraSession" cluster-ref="cassandraCluster"
        keyspace-name="${keyspace.name}" />
	<!-- <bean id="cqlTemplate" class="org.springframework.cassandra.core.CqlTemplate"> 
		<constructor-arg ref="cassandraSession" /> </bean> -->

	<!-- cassandra operater -->
	<cassandra:template id="cqlTemplate" />
	<!-- spring data 接口 -->
	<cassandra:repositories base-package="com.yxtar.server.cassandra.dao" />

</beans>